<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="../public/stylesheets/booking.css">
    <title>Booking</title>
</head>

<body>
    <%- include('./partials/navbar'); -%>
    <%- include('./partials/booking/form'); -%>
    <%- include('./partials/booking/store'); -%>
    <script src="../public/javascripts/event.js"></script>
    <!-- popup form jQuery -->
    <script>
        // jQuery extend functions for popup
        (function ($) {
            $.fn.openPopup = function (settings) {
                var elem = $(this);
                // Establish our default settings
                var settings = $.extend({
                    anim: 'fade'
                }, settings);
                elem.show();
                elem.find('.popup-content').addClass(settings.anim + 'In');
            }

            $.fn.closePopup = function (settings) {
                var elem = $(this);
                // Establish our default settings
                var settings = $.extend({
                    anim: 'fade'
                }, settings);
                elem.find('.popup-content').removeClass(settings.anim + 'In').addClass(settings.anim + 'Out');

                setTimeout(function () {
                    elem.hide();
                    elem.find('.popup-content').removeClass(settings.anim + 'Out')
                }, 500);
            }

        }(jQuery));

        // Click functions for popup
        $('.open-popup').click(function () {
            $('#' + $(this).data('id')).openPopup({
                anim: (!$(this).attr('data-animation') || $(this).data('animation') == null) ? 'fade' :
                    $(this).data('animation')
            });
        });
        $('.close-popup').click(function () {
            $('#' + $(this).data('id')).closePopup({
                anim: (!$(this).attr('data-animation') || $(this).data('animation') == null) ? 'fade' :
                    $(this).data('animation')
            });
        });
    </script>

    <script>
        let toggleMenu = () => {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        };
    </script>

    <script type="module">
        //list information of store
        import {store} from '../public/javascripts/store.js';

        let mcdonald_name = document.querySelectorAll('.mcdonald-name');
        let mcdonald_address = document.querySelectorAll('.mcdonald-address');
        let mcdonald_time = document.querySelectorAll('.mcdonald-time');

        let mcdonald_name_form = document.querySelector('#mcdonald-name-form');
        let mcdonald_time_form = document.querySelector('#mcdonald-time-form');
        let mcdonald_capacity_form = document.querySelector('#mcdonald-capacity-form');

        let btnBooking = document.querySelector('#booking-form');
        btnBooking.onclick = (()=>{
            console.log(storeList.filter((el)=>{
                return el.name == mcdonald_name_form.value;   
            }));
        });    

        let select = document.querySelector('#mcdonald-date-form');
        let popup = document.querySelectorAll('.open-popup');
        for (let i = 0; i < popup.length; i++) {
            popup[i].onclick = () => {
                $('html,body').animate({
                    scrollTop: 0
                }, 'slow');
                
                return false;
            };
        }

        //(c-o)*2-1
        /* let select = document.querySelector('#mcdonald-time-form');
        let option = document.createElement('OPTION');
        option.setAttribute('value', '..');
        let content = document.createTextNode('..');
        option.appendChild(content);
        select.appendChild(option);
        let timeBooking = ((index,open, close)=>{
            console.log(index);
            for()
        }); */

        
        
        // xử lý ngày của booking form... chỉ được đặt 3 ngày kế
        let setDate = () => {
            let day = new Date();
            for(let i = 0; i < 3; i++){
                let option = document.createElement('OPTION');
                let nextday = new Date(day);
                nextday.setDate(nextday.getDate()+i);
                let content = document.createTextNode(nextday.toLocaleDateString());
                option.appendChild(content);
                select.appendChild(option);
            }
        };
        setDate();
    </script>
</body>

</html>