<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Booking</title>
</head>

<body>
    <%- include('./partials/booking/store'); -%>
    <script src="../public/javascripts/event.js"></script>
</body>

</html>