<select class="form-control" id="mcdonald-capacity-form" name="mcdonald-capacity">
    <option value="0">2 nguời</option>
    <option value="1">4 người</option>
    <option value="2">6 người</option>
    <option value="3">8 người</option>
    <!-- <option value="0">02:00</option>
        <option value="0">02:30</option>
        <option value="0">03:00</option>
        <option value="0">03:30</option>
        <option value="0">04:00</option>
        <option value="0">04:30</option>
        <option value="0">05:00</option>
        <option value="0">05:30</option>
        <option value="0">06:00</option>
        <option value="0">06:30</option>
        <option value="0">07:00</option>
        <option value="0">07:30</option>
        <option value="0">08:00</option>
        <option value="0">08:30</option>
        <option value="0">09:00</option>
        <option value="0">09:30</option>
        <option value="0">10:00</option>
        <option value="0">10:30</option>
        <option value="0">11:00</option>
        <option value="0">11:30</option> -->
</select>